
.good-afternoon {
  font-weight: 500;
}
.span {
  font-weight: 600;
}
.welcome-back-sarina-container {
  position: absolute;
  top: 126px;
  left: 29px;
  font-size: 40px;
  line-height: 32px;
  display: inline-block;
  width: fit-content;
}
.group-child,
.group-icon {
  position: absolute;
  bottom: 0;
  left: 0;
}
.group-icon {
  position: relative;
  height: auto;
  width: 25px;
  top: 0;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child {
  position: relative;
  
  height: 100%;
  width: 100%;
  top: 0;
  right: 15px;
  border-radius: 50%;
  background-color: var(--color-chocolate);
}
.div {
  position: absolute;
  top: 3px;
  left: 10px;
  font-weight: 500;
}
.ellipse-parent {
  height: 65.63%;
  width: 64.42%;
  top: 0;
  right: 0;
  bottom: 34.38%;
  left: 35.58%;
}
.dashboard .ellipse-parent,
.dashboard .header,
.dashboard.shadow {
  position: absolute;
}
.dashboard .header {
  height: 3.94%;
  width: 8.69%;
  top: 5.42%;
  right: 3.2%;
  bottom: 90.64%;
  left: 88.11%;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.shadow {
  top: 474.13px;
  left: 38.48px;
  border-radius: 165px;
  background-color: var(--iris-100);
  filter: blur(135.91px);
  width: 298.05px;
  height: 22.95px;
  display: none;
}
.mask-group-icon,
.rectangle {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: -20px;
  width: 375.76px;
  height: 186px;
}
.rectangle {
  border-radius: 20px;
  background-color: #fef3e7;
}
.mask-group-icon {
  object-fit: cover;
}
.on-1-sessions {
  position: relative;
  font-weight: 800;
}
.lets-open-up {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-family: var(--font-rubik);
  display: inline-block;
  width: 199px;
  opacity: 0.9;
}
.watch-now-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 138px;
  height: 39px;
}
.book-now {
  position: absolute;
  font-size: 17px;
  top: 3.88px;
  left: 0;
  line-height: 32px;
}
.icoutline-date-range-icon {
  position: absolute;
  top: 9.88px;
  left: 89px;
  width: 17px;
  height: 17px;
  overflow: hidden;
  object-fit: cover;
}
.watch-now {
  position: relative;
  width: 138px;
  height: 39px;
  font-size: 16px;
  color: var(--color-chocolate);
}
.peer-group-meetup {
  position: absolute;
  top: 44.88px;
  left: 20.66px;
  font-size: 26px;
  width: 215.59px;
  height: 117.77px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.meetup-icon {
  position: absolute;
  top: 37.19px;
  left: 224.19px;
  width: 98.1px;
  height: 82.65px;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-parent {
  position: absolute;
  top: 388px;
  left: 19.62px;
  width: 335.76px;
  height: 156px;
  font-size: 22px;
  color: var(--color-dimgray-100);
}
.rectangle1 {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-radius: 16px;
  background-color: #f8f6f6;
  border: 1px solid #f4f4f4;
  box-sizing: border-box;
  width: 352px;
  height: 122px;
}
.mask-group-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 351px;
  height: 91px;
  object-fit: cover;
}
.faquote-left-icon {
  position: absolute;
  top: 44.56px;
  left: 312px;
  width: 26px;
  height: 23.04px;
  overflow: hidden;
  object-fit: contain;
}
.it-is-better {
  position: absolute;
  top: 37.19px;
  left: 16.25px;
  letter-spacing: -0.01em;
  line-height: 20px;
  display: inline-block;
  width: 279.5px;
  height: 46.08px;
  font-size: 16px;
}
.home-inner,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 351px;
  height: 91px;
}
.home-inner {
  top: 252px;
  left: 10.5px;
  font-size: 14px;
  color: #707070;
}
.home-child {
  position: absolute;
  top: 727px;
  left: 44px;
  width: 12px;
  height: 7px;
  object-fit: cover;
}
.home {
  background-color: #597E52;
  position: absolute;
  top: 0;
  left: 7%;
  border-radius: 40px;
  background-color: #FFFFEC;
  width: 375px;
  height: 812px;
  overflow: hidden;
}
.dashboard {
  position: relative;
  background-color: #FFFFEC;
  width: 100%;
  height: 800px;
  overflow: hidden;
  text-align: left;
  font-size: 26px;
  color: #371b34;
  font-family: var(--font-epilogue);
}

.navbarContainer {
  background-color: #FBF9F1;
  width: 420px;
  left: 0px;
  position: fixed;
  bottom: 0%;
  height: 60px;
  border-radius: 32px 32px 0px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  box-shadow: 16px px 8px rgba(0, 0, 0, 0.1);
}
.icon-container {
   margin: 10px; 
   padding: 10px;
}

.icon-nav {
  fill: transparent;
  stroke: #d4c3c3;
 
}
.icon-nav img{

  width: 10PX;
  height: 6PX;
  visibility: hidden;
}

.active .icon-nav{
  fill: #DE671D; 
  visibility: visible;
}
.icon-container {
  
  position: relative;
}

.semi-circle {

  position: absolute;
  top: -8px; 
  left: 40%;
  width: 10px;
  height: 6px; 
  background-color: transparent;
  visibility: hidden; 
}

.icon-container.active .semi-circle {
  visibility: visible;
}
